.containerr {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
}

.d-flex {
        display: flex;
        flex-direction: column;
        background: #f6f6f6;
        border-radius: 0 0 5px 5px;
        padding: 25px;
}

form {
        flex: 4;
}

.Yorder {
        flex: 2;
}

h2 {
        margin: 0;
        padding-left: 15px;
}
h3{
        color: darkblue;
}
.required {
        color: red;
}

label,
table {
        display: block;
        margin: 15px;
}

label>span {
        float: left;
        width: 25%;
        margin-top: 12px;
        padding-right: 10px;
}

input[type="tel"] {
        width: 70%;
        height: 30px;
        padding: 5px 10px;
        margin-bottom: 10px;
        border: 1px solid #dadada;
        color: #888;
}

p {
        display: block;
        color: #888;
        margin: 0;
        padding-left: 25px;
}

.Yorder>div {
        padding: 15px 0;
}

.Yorder button {
        width: 100%;
        margin-top: 10px;
        padding: 10px;
        border: none;
        border-radius: 30px;
        background: #52ad9c;
        color: #fff;
        font-size: 15px;
        font-weight: bold;
}

.Yorder button:hover {
        cursor: pointer;
        background: #428a7d;
}